/* NavBar - ID for Navigation bar */
/* MainContainer - ID Body containing All Cards */
    /* container - class General Subject container */
        /* ToggleBtn - class General Toggle button */
        /* topicCard - class General Topic anchor link card */

        
/* PythonContainer - ID Main Python Container */
/* PyButton - ID The Main Interaction that will have the image */
/* PyTopic - For the links of Subjects */

/* JsContainer - ID */
/* JsButton - ID */
/* JsTopic */

/* 'active' class injected to show topics */


.Header {
    padding: 20px 0;
    border-radius: 10px 10px 0 0;
    margin-bottom: 5px;
    background: linear-gradient(90deg, rgba(24, 246, 246, 0.8), rgba(49, 70, 252, 0.8));    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


/* Header title styling */
.Header h2 {
    font-size: 32px;
    font-weight: bold;
    margin: 0;
    text-transform: uppercase;
    color: rgb(245, 246, 244);
}


#MainContainer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; /* To wrap child containers */
    width: 100%; /* To cover full screen width */
    height: auto;
    padding-top: 20px;
    background: linear-gradient(135deg, rgba(126, 234, 234, 0.8), rgba(238, 255, 54, 0.8));
}


.container { 
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    width: 45%;
    height: 30%;
    margin-bottom: 10px;   /* space for below stacked cards */
    padding: 2px;
}
.container {
    background: linear-gradient(150deg, rgb(245, 244, 254), rgb(133, 128, 128));
    border-radius: 10px;
}



.ToggleBtn{
    width: 100%;
    height: 100px;
    text-align: center;
    line-height: 90px;
    grid-column: span 2; /* In grid, One Button Should span 2 columns*/
}
.ToggleBtn{    /* Style for button*/
    opacity: 0.9;
    background-color: aliceblue;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Raised shadow effect */
    transition: transform 0.3s ease, box-shadow 0.3s ease, font-size 0.3s ease;   
}
.ToggleBtn:hover{
    transform: translateY(-5px); 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    font-size: 1.4rem;
    opacity: 0.8;
}





.topicCard {
    width: 100%;
    height: 80px;
    margin: 5px 0;
    
    text-align: center;
    line-height: 100px; /* To center text vertically */
}
.topicCard{
    background-color: rgb(250, 245, 245);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease, font-size 0.3s ease;    
    opacity: 0.9;
}
.topicCard:hover{
    transform: translateY(-7px); 
    /* slightly move it up for raised effect */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    /* Darker shadow on hover */
    opacity: 1;
    font-size: 1.1rem;
    background-color: rgb(255, 255, 255);
}




/* Image Section */
#PyButton, #JsButton, #JsdomButton, #CdsButton, #htmlButton, #bashButton, #dbmsButton, #dsaButton, #toolButton 
{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100px;
}

#PyButton
{
    background-image: url(img/python1.webp);
}
#JsButton
{
    background-image: url(img/js1.jpg);
}
#JsdomButton
{
    background-image: url(img/jsdom.png);
}
#CdsButton
{
    background-image: url(img/c1.jpeg);
}
#htmlButton
{
    background-image: url(img/css1.jpg);
}
#bashButton
{
    background-image: url(img/bash1.jpeg);
}
#dbmsButton
{
    background-image: url(img/dbms1.png);
}
#dsaButton
{
    background-image: url(img/leet1.png);
}
#toolButton
{
    background-image: url(img/tool1.jpg);
}

/* Adjust for smaller screens */
/* Stack containers on top of each other for small screens */

@media screen and (max-width: 800px) {
    .container {
        width: 75%;
    }
    .ToggleBtn {
        width: 100%;
        height: 80px;
    }
    .topicCard {
        width: 100%;
        height: 70px;
    }
}




/* The Toggle Space for Topics */

/* Initially, hide all the topic cards */
.PyTopic, .JsTopic, .JsdomTopic, .CdsTopic, .htmlTopic, .bashTopic, .dbmsTopic, .dsaTopic, .toolTopic {
    display: none;
}

/* Show for respective containers when active */
.active .PyTopic, .active .JsTopic, .active .JsdomTopic, .active .CdsTopic, .active .htmlTopic, .active .bashTopic, .active .dbmsTopic, .active .dsaTopic, .active .toolTopic {
    display: block;
}





