/* NavBar - ID for Navigation bar */
/* MainContainer - ID Body containing All Cards */
    /* container - class General Subject container */
        /* ToggleBtn - class General Toggle button */
        /* topicCard - class General Topic anchor link card */

/* To handle only lagre screen viewing */
/* Make it somemore compressed in from here */

@media screen and (min-width: 800px){
    
    /* Image Section to be updated */
    #PyButton, #JsButton, #JsdomButton, #CdsButton, #htmlButton, #bashButton, #dbmsButton, #dsaButton, #toolButton 
    {
        height: 170px;
    }
    
    
    #MainContainer {
        height: 100%;
        padding-top: 20px;
    }

    .Header {
        text-align: center;
        padding: 20px 0;
        border-radius: 10px 10px 0 0;
        margin-bottom: 5px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        background: linear-gradient(90deg, rgba(24, 246, 246, 0.8), rgba(49, 70, 252, 0.8));
    }

    /* Header title styling */
    .Header h2 {
        font-size: 40px;
        font-weight: bolder;
        margin: 20px;
        text-transform: uppercase;
        color: blanchedalmond;
       
    }

    
    .container { 
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        width: 40%;
        height: 50%;
        padding: 5px;
    }

    .ToggleBtn{
        width: 100%;
        height: 50%;
        
        text-align: center;
        line-height: 90px;
        
        grid-column: span 3; /* In grid spanning 3 columns*/
        opacity: 0.8;
    }
    .ToggleBtn:hover{
        transform: translateY(-5px); 
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
        font-size: 1.4rem;
        opacity: 1;
    }

    
    
    .topicCard {
        width: 100%;
        height: 80px;
        margin: 5px 0;
        
        text-align: center;
        text-decoration: solid;
        line-height: 20px; /* To center text vertically */
        opacity: 0.8;
    }
    .topicCard:hover{
        transform: translateY(-7px); 
        /* slightly move it up for raised effect */
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
        /* Darker shadow on hover */
        opacity: 1;
        font-size: 1.1rem;
        background-color: rgb(255, 255, 255);
    }
}